* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
body {
    background-color: #d0d4D5;
}

#nav {
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5%;
}

#nav-left {
    display: flex;
}

#nav-left ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#nav-left ul li {
    margin: 10px;
}

#nav-left ul li a {
    text-decoration: none;
    color: black;
}

#nav-left ul li a:hover{
    color: #4287f5;
}

.logo {
    margin-right: 20px;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#nav-right i{
    transition: 0.120s ease-in;
}
#nav-right i:hover{
    color: white;
    background-color: #555;
}

#hamburger {
    display: none;
    text-align: right;
    width: min-content;
}

#nav-right {
    display: flex;
}

#dropdownContent {
    right: 0;
    background-color: white;
    display: none;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
}

#dropdownContent li {
    list-style-type: none;
    padding: 5px;
    border-radius: 5px;
}

#dropdownContent li a {
    text-decoration: none;
    color: black;
}

#dropdownContent li:hover {
    background-color: rgb(221, 221, 221);
}

#hamburger:hover+#dropdownContent {
    display: block;
}

#drawerContainer:hover #dropdownContent {
    display: block;
}

#hero {
    width: 100%;
    height: calc(100vh - 50px);
    min-height: max-content;
    display: flex;
}

#content-left {
    height: 100%;
    width: 40%;
    padding: 40px 80px;
}

#content-left h5 {
    font-size: 20px;
    text-transform: capitalize;
    color: #555;
    margin-bottom: 10px;
}

#content-left h1 {
    font-size: 55px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 25px;
}

#content-left p {
    font-size: 20px;
    color: #000;
    width: 100%;
    margin-bottom: 30px;
}

.btn {
    background-color: #000;
    color: #fff;
    font-size: 15px;
    padding: 12px 40px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 50px;
    border-top-left-radius: 0;
    cursor: pointer;
}

#content-left div {
    width: 100%;
}

.btn:hover {
    background-color: transparent;
    color: black;
}

#content-right {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#featuredProduct {
    width: auto;
    height: 80%;
    object-fit: cover;
    overflow: hidden;
    border: 5px solid white;
    border-radius: 10px;
    transition: 0.25s ease-out;
    display: block; /* ensures image is block-level */
    max-width: 100%;
    max-height: 80vh;
}

#featuredProduct:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#about {
    width: 100%;
    height: max-content;
    background-color: white;
    display: flex;
}

#about-left {
    width: 40%;
    height: max-content;
    padding: 5%;
    text-align: end;
}

#about-left img {
    height: 200px;
}

#about-right {
    width: 60%;
    height: 100%;
    padding: 5%;
}

#about-right h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

#about-right p {
    font-size: 20px;
    margin-bottom: 10px;
}

#collection {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    background-color: #d0d4D5;
}

#collection h2 {
    margin: 10px 0;
}

#collectionContainer {
    width: max-content;
    max-width: 80%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.collection {
    height: max-content;
    flex: 1 0 25%;
    background-color: #f8f9fa;
    padding: 30px 10px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}

.collection img {
    height: 200px;
    width: 100%;
    object-fit: contain;
    margin: 0 auto;
}

.collection h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.collection p {
    margin-bottom: 10px;
    font-size: 18px;
}

.price {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}

#contact-us {
    width: 50%;
    height: max-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 25%;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

form input {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    margin-bottom: 20px;
}

form textarea {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    resize: none;
    margin-bottom: 20px;
}

form button {
    width: max-content;
}

form .btn:hover {
    width: max-content;
    background-color: #4287f5;
    color: white;
}

/* for mobile devices */
@media (max-width: 650px) {
    #hamburger {
        display: block;
    }

    #nav-left ul {
        display: none;
    }

    #hero {
        flex-direction: column;
        height: max-content;
    }

    #content-left {
        width: 100%;
        padding: 40px 0;
        text-align: center;
    }

    #content-left p {
        width: 80%;
        padding: 0 10%;
    }

    #content-left .btn {
        border-top-left-radius: 50px;
    }

    #content-right {
        display: none;
    }

    #about {
        flex-direction: column;
    }

    #about-left {
        padding: 0;
        width: 100%;
        text-align: center;
    }

    #about-right {
        padding: 20px;
        width: calc(100% - 40px);
        text-align: center;
    }

    .collection {
        flex: 1 0 100%;
    }
}

@media (min-width: 651px) and (max-width: 900px) {
    .collection {
        flex: 1 0 30%;
    }

    #featuredProduct {
        height: 50vh;
    }
}
