* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d0d4D5;
}

#nav {
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5%;
}

#nav-left {
    display: flex;
}

#nav-left ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#nav-left ul li {
    margin: 10px;
}

#nav-left ul li a {
    text-decoration: none;
    color: black;
}

.logo {
    width: 50px;
    margin-right: 20px;
    font-size: 20px;
}

#hamburger {
    display: none;
    text-align: right;
    cursor: pointer;
    width: min-content;
}

@media (max-width: 650px) {

    /* for mobile devices */
    #hamburger {
        display: block;
    }

    #nav-left ul {
        display: none;
    }
}

#nav-right {
    display: flex;
}

#dropdownContent {
    right: 0;
    background-color: white;
    display: none;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
}

#dropdownContent li {
    list-style-type: none;
    padding: 5px;
    border-radius: 5px;
}

#dropdownContent li a {
    text-decoration: none;
    color: black;
}

#dropdownContent li:hover {
    background-color: rgb(221, 221, 221);
}

#hamburger:hover+#dropdownContent {
    display: block;
}

#drawerContainer:hover #dropdownContent {
    display: block;
}

#hero {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
}

#content-left {
    height: 100%;
    width: 40%;
    padding: 40px 80px;
}

#content-left h5 {
    font-size: 20px;
    text-transform: capitalize;
    color: #555;
    margin-bottom: 10px;
}

#content-left h1 {
    font-size: 55px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 25px;
}

#content-left p {
    font-size: 20px;
    color: #000;
    width: 80%;
    margin-bottom: 30px;
}

.btn {
    background-color: #000;
    color: #fff;
    font-size: 15px;
    padding: 12px 40px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 50px;
    border-top-left-radius: 0;
    cursor: pointer;
}

.btn:hover{
    background-color: transparent;
    color: black;
}

#content-right {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#featuredProduct{
    height: 80%;
    border: 5px solid white;
    border-radius: 10px;
    transition: 0.25s ease-out;
}
#featuredProduct:hover{
    height: 82%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#about{
    width: 100%;
    height: max-content;
    background-color: white;
    display: flex;
}

#about-left{
    width: 40%;
    height: max-content;
    padding: 5% 5% 0 5%;
    text-align: end;
}
#about-left img{
    height: 200px;
}

#about-right{
    width: 60%;
    height: 100%;
    padding: 5% 5% 0 5%;
}

#about-right h2{
    font-size: 30px;
    margin-bottom: 10px;
}

#about-right p{
    font-size: 20px;
    margin-bottom: 10px;
}

#collection{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;

}

#collection h2{
    margin: 10px 0;
}

#collectionContainer {
    width: max-content;
    max-width: 80%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.collection{
    height: max-content;
    box-sizing: border-box;
    flex-basis: calc(33.33% - 20px);
    background-color: #f8f9fa;
    padding: 30px 10px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}

.collection img{
    height: 200px;
    width: 100%;
    object-fit: contain;
    margin: 0 auto;
}

.collection h4{
    font-size: 18px;
    margin-bottom: 10px;
}

.collection p{
    margin-bottom: 10px;
    font-size: 18px;
}

.price{
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}